[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
	shallow = true
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
	shallow = true
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
	ignore = dirty
	shallow = true
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
	ignore = dirty
	shallow = true
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	ignore = dirty
	shallow = true
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
	ignore = dirty
	shallow = true
[submodule "third_party/ImGuizmo"]
	path = third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
	ignore = dirty
	shallow = true
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = https://github.com/KhronosGroup/KTX-Software
	ignore = dirty
	shallow = true
[submodule "third_party/bullet3"]
	path = third_party/bullet3
	url = https://github.com/bulletphysics/bullet3
	ignore = dirty
	shallow = true
[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
	ignore = dirty
	shallow = true
